<nav>
  <mat-toolbar>
    <div fxHide.gt-sm>
      <button mat-icon-button  [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu>
        <button mat-menu-item>Home</button>
        <button mat-menu-item>Impressum</button>
        <button mat-menu-item>Projekte</button>
        <button mat-menu-item>Über mich</button>
      </mat-menu>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide fxShow.gt-sm>
      <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/about">Impressum</a>
        </li>
        <li>
          <a routerLink="/projects">Projekte</a>
        </li>
        <li>
            <a routerLink="/profile">Über mich</a>
          </li>
      </ul>
    </div>
  </mat-toolbar>
</nav>