.horizontalBar a{
    text-decoration: none;
    color: black;
}

a:hover, a:active{
    color: rgb(70, 70, 70);
}

ul{
    list-style-type: none;
    display: flex;

    li{
        margin: 0px 0.5rem;
    }
}

nav{
    position: absolute;
    width: 100%;
    z-index: 20;
}

@media (min-width: 960px){
    mat-toolbar.mat-toolbar{
        background: none;
    }
}