<nav>
  <mat-toolbar>
    <div class="hamburgerMenu" fxHide.gt-sm>
      <button mat-icon-button  [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu>
        <a routerLink="/" mat-menu-item>Home</a>
        <a routerLink="/about" mat-menu-item>Impressum</a>
        <a routerLink="/projects" mat-menu-item>Projekte</a>
        <a routerLink="/profile" mat-menu-item>Über mich</a>
      </mat-menu>
    </div>

    <div class="horizontalBar" fxFlex fxLayout fxLayoutAlign="end" fxHide fxShow.gt-sm>
      <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/about">Impressum</a>
        </li>
        <li>
          <a routerLink="/projects">Projekte</a>
        </li>
        <li>
            <a routerLink="/profile">Über mich</a>
          </li>
      </ul>
    </div>
  </mat-toolbar>
</nav>