.home{
    display: grid;
    grid-template-columns: auto;
    height: 100%;

    section{
        padding: 3rem;

        h1, h2{
            text-transform: uppercase;
            margin: 0px;
        }

        h1{
            font-size: 3rem;
        }

        h2{
            font-size: 1.4rem;
        }

        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        figure{
            margin-left: 0px;
        }
    }

    section.hero{
        padding-top: 8rem;
        background-image: url("/assets/images/hero.jpg");
        background-size: cover;
    }

    section.about{
        background-color: #EFE55B;
    }
}

.primaryButton{
    border-color: black;
    border-style: solid;
}

small{
    color: gray;
}

.mat-icon{
    vertical-align: middle;
    margin-right: 0.5rem;
}

.portrait{
    width: 8rem;
    border-radius: 50%;
}

ul{
    list-style-type: none;
    padding: 0px;
}

@media (min-width: 960px){
    .home{
        grid-template-columns: 70% auto;
        grid-template-rows: 60% auto;
        grid-template-areas:
            "hero about"
            "hero contact";
    }

    section{
        display: grid;
        grid-template-rows: auto;
        align-items: center;
    }

    section.hero{
        grid-area: hero;
    }
}