<div class="home">
  <section class="hero">
    <div class="heroText">
        <h1>Projekte von<br>Patrick Pruß</h1>
        <a class="primaryButton" mat-button routerLink="projects"><mat-icon>arrow_right</mat-icon>Portfolio ansehen</a> 
    </div>
  </section>

  <section class="about">
    <h2>Über mich</h2>
    <figure>
      <img class="portrait" src="/assets/images/portrait.jpg" alt="Portrait">
      <figcaption>
        <small>Master of Science für Informatik</small>
        <p>Ich habe 2009 in Magdeburg studiert und arbeite seit 2014
          als Entwickler in den Bereichen C#, .NET und Frontend.</p>
        <a mat-button routerLink="profile"><mat-icon>arrow_right</mat-icon>Mehr erfahren...</a> 
      </figcaption>
    </figure>
  </section>

  <section class="contact">
    <h2>Kontakt</h2>
    <ul>
      <li><mat-icon>home</mat-icon>Magdeburg, Deutschland</li>
      <li><i class="fab fa-github fa-lg"></i><a href="https://github.com/ppruss">Github</a></li>
      <li><i class="fab fa-xing fa-lg"></i><a href="https://www.xing.com/profile/Patrick_Pruss3">Xing</a></li>
    </ul>
  </section>
</div>
