<div class="home">
  <div class="hero">
    <h1>Projekte von<br>Patrick Pruß</h1>
  </div>

  <div class="about">
    <h2>Über mich</h2>
    <figure>
      <img class="portrait" src="/assets/images/portrait.jpg" alt="Portrait">
      <figcaption>
        <small>Master of Science für Informatik</small>
        <p>Ich habe 2009 in Magdeburg studiert und arbeite seit 2014<br>
          als Entwickler in den Bereichen C#, .NET und Frontend.</p>
      </figcaption>
    </figure>
  </div>

  <div class="projects">
    <h2>Meine Projekte</h2>
    <p>TODO</p>
  </div>

  <div class="contact">
    <h2>Kontakt</h2>
    <ul>
      <li><mat-icon>home</mat-icon>Magdeburg, Deutschland</li>
      <li><mat-icon>email</mat-icon><a href="mailto:pruss.patrick@googlemail.com">pruss.patrick@googlemail.com</a></li>
    </ul>
  </div>
</div>